<%= form_for(@problem) do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% @problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cod %><br />
    <%= f.text_field :cod %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :input_format %><br />
    <%= f.text_area :input_format %>
  </div>
  <div class="field">
    <%= f.label :output_format %><br />
    <%= f.text_area :output_format %>
  </div>
  
  <div class="test-cases">
    <h3>Casos de prueba</h3>
    <%= f.fields_for :test_cases do |test_case_form| %>
      <div class="test-case" style="margin: 20px">
      
        <div>
          <%= test_case_form.label :title, 'Titulo:' %>
          <%= test_case_form.text_field :title %>
        </div>
        
        <div>
          <%= test_case_form.label :input, 'Archivo de entrada:' %>
          <%= test_case_form.file_field :input %>
        </div>        
        
        <div>
          <%= test_case_form.label :output, 'Archivo de salida:' %>
          <%= test_case_form.file_field :output %>
        </div>
        
        <div>
          <%= test_case_form.label :max_time, 'Tiempo maximo (s):' %>
          <%= test_case_form.number_field :max_time %>
        </div>

        <% unless test_case_form.object.nil? || test_case_form.object.new_record? %>
          <div>
            <%= test_case_form.label :_destroy, 'Remove:' %>
            <%= test_case_form.check_box :_destroy %>
          </div>
        <% end %>        
      </div>
  <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
