<p id="notice"><%= notice %></p>

<p>
  <b>Cod:</b>
  <%= @problem.cod %>
</p>

<p>
  <b>Title:</b>
  <%= @problem.title %>
</p>

<p>
  <b>Description:</b>
  <%= @problem.description %>
</p>

<p>
  <b>Input format:</b>
  <%= @problem.input_format %>
</p>

<p>
  <b>Output format:</b>
  <%= @problem.output_format %>
</p>

<p>
  <%= link_to "Soluciones", problem_solutions_path(@problem) %>
</p>

<%= render :partial => "solutions/form", :locals => { :problem => @problem } %>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
